@import "../colors.styl"
@import "../common.styl"

.task-list
  width (60%)
  margin-left = $margin--large

  &__item
    margin 0 $margin--regular $margin--regular $margin--regular
    padding $padding--regular

    &__actions
      display flex
      justify-content flex-end
