@import "../colors.styl"
@import "../common.styl"

.container
  display flex
  flex-wrap wrap
  justify-content center
  align-items flex-start

  padding $padding--large


.panel

  background $color--grey
  box-shadow $color--shadow -3px 3px 5px