@import "../colors.styl"
@import "../common.styl"

.header
  display flex
  justify-content space-around
  align-items center


  background $color--secondary
  padding $padding--regular

  box-shadow $color--shadow -2px 2px 5px

  a
    text-decoration none
    font-size $font-size--title

    color $color--background--primary

    transition color 0.2s linear

    &:hover

      color lighten($color--primary, 30%)