@import "../common.styl"
@import "../colors.styl"

$keyframe-name = pulse
@keyframes {$keyframe-name}
  0% {
    opacity 0
  }
  50% {
    opacity 0.7
  }
  100% {
    opacity 0
  }


.loading
  width 100%
  height 2em
  border-radius 3px

  content ""

  background $color--light--grey
  animation pulse 2s infinite
