@import "../colors.styl"
@import "../common.styl"

.logo
  display flex
  justify-content space-around
  align-items center
  color $color--background--primary

  font-family 'Molle', cursive
  font-size $font-size--heading

  transition all 0.2s linear

  &:hover
    cursor pointer
    color $color--primary

    img.default
      opacity 0

  span
    margin-left -64px

  img
    width 50px
    margin-right ($margin--regular / 2)

    transition all 0.2s linear

    &.pressed
      position: relative;
      left: -64px;

    &.default
      z-index 10
