@import "../colors.styl"
@import "../common.styl"


.navbar
  background $color--secondary
  width (100% / 4)
  flex-direction column

  // because it works for some reason
  height 100%

  box-shadow $color--shadow -3px 3px 5px

  &__item
    display flex
    align-items center

    padding $padding--regular
    border-bottom 1px $color--background--primary solid
    cursor pointer

    transition all 0.2s linear

    &__title
      color white
      text-decoration none


    &:hover
      background $color--primary
