@import "colors.styl"
@import "common.styl"
@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro|Molle:400i');

body
  background $color--background--primary
  font-family 'Source Sans Pro', sans-serif
  margin 0
  padding 0
  color white

div
  max-width inherit
  overflow hidden

